.history_link_container{
    border: white;
    margin-top: 30px;
}
.first_block_container_history_header{
    font-size: 36px;
    border: white;
    margin-top: 50px;
    font-weight:500px;
    
}
.first_block_container_history_text_inside{
    margin-top: 36px;
    
}
.first_block_container_history_header_img{
    float: left;
    width: 350px;
    height: 350px;
    left: 301px;
    top: 427px;
    margin-left: 36px;
    margin-right: 52px;
    margin-top: 36px;
    margin-bottom: 320px;
    
}
.first_block_container_history_text{
    margin-right: 90px;
    margin-bottom: 91px;
    font-size: 18px;
}
.second_block_container_history_header
{
    font-size: 36px;
    border: white;
    margin-top: 50px;
    font-weight:500px;
    
}
.second_block_container_history_grid_list{
    list-style-type: none;
    padding-left: 20px;
}
.second_block_container_history_grid_text_item{
    padding-bottom: 14px;
}

.second_block_container_history_grid{

    margin-top: 55px;
    margin-right: 155px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 0.3fr 0.8fr 3.6fr;
    gap: 25px;
   
}

.second_block_container_history_grid_img{
    grid-row: 1/6;
    position: relative;
}
.second_block_container_history_grid_text{
    padding-top: 25px;
    font-size: 18px;
}
.second_block_container_history_grid_year{
    font-weight: 900;
    padding-top: 20px;
    font-size: 28px;
}

.red_line{
    padding-top:25px ;
    height: 900px;
    position: absolute;
    left: 50%;
    z-index: 1;
}
.elipse1
{
    padding-top: 20px;
    z-index: 2;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.elipse2{
    padding-top: 315px;
    z-index: 2;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.elipse3{
    padding-top: 65px;
    z-index: 2;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.elipse4{
    padding-top: 180px;
    z-index: 2;
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

.elipse5{
    padding-top: 80px;
    z-index: 2;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

/* .second_block_container_history{
    margin-bottom: 120px;
    border: 1px solid black;
} */
.third_block_container_history{
    margin-top: 120px;
}
.tird_block_container_history_grid{
    margin-top: 80px;
}
.tird_block_container_history_grid div{
    /* border: 1px solid black; */
    text-align: center;
    /* background-color: aquamarine; */
    

}

.tird_block_container_history_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* column-gap: 40px; */
    grid-auto-rows: minmax(143px,auto);
    /* grid-auto-flow:; */
    /* grid-template-rows: 2fr 1fr; */
}
.tird_block_container_history_grid_line_ellipse1{
    grid-column: 1/5;
    position: relative;
}

.third_block_line1{
    position: inherit;
    padding-top: 38px;
    padding-left: 160px;
    width: 1279px;
    z-index: 1;

}
.tird_block_ellipse1{
    position: absolute;
    left: 135px;
    top:13px
}
.tird_block_ellipse2{
    position: absolute;
    left: 450px;
    top:13px
}
.tird_block_ellipse3{
    position: absolute;
    left: 775px;
    top:13px
}    
.tird_block_ellipse4{
    position: absolute;
    left: 1095px;
    top:13px
}    
.tird_block_container_history_grid_line_ellipse2{
    grid-column: 1/5;
    position: relative;
}
.third_block_line2{
    position: inherit;
    padding-top: 38px;
    /* padding-left: 160px; */
    width: 100%;
    z-index: 1;


}
.tird_block_container_history_grid_line_ellipse3{
    grid-column: 1/5;
    position: relative;
}
.third_block_line3{
    position: inherit;
    padding-top: 38px;
    padding-right: 160px;
    width: 100%;
    z-index: 1;


}
.third_block_under_text{
    margin-top: 25px;
    font-size: 22;
    font-weight: 900;
}
.third_block_under_year{
    margin-top: 35px;
    font-size: 18;
}