::root {
    --fz-size: 1;
    --default-fz: 16px
    --font-OpenSans: 'Open Sans';
    --font-RobotoCondensed: 'Roboto Condenced';

    --headline-font: var(--font-OpenSans);
    --text-font: var(--font-OpenSans);

    --text-bold: 600;
    --text-normal: 400;
    

    --color-default: #000;
    --color-accent: #E11B50;
    --color-light-gray: #F1F1F1;
    --color-gray: #E1E1E1;
    --color-dark-gray: #C0C0C0;
    --color-dark-black: #505050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
} 

body {
    font-size: var(--default-fz);
    line-height: 1;
    font-family: 'Roboto Condensed', 'Open-Sans', sans-serif;
}

.container {
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

