@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');
:root {
    --fz-size: 1;
    --default-fz: calc(16px * var(--fz-size));
    --font-letter-spacing: 0px;
    --font-line-height: 1;

    --font-OpenSans: 'Open Sans';
    --font-RobotoCondensed: 'Roboto Condensed';
    --font-serif: sans-serif;

    --headline-font: var(--font-OpenSans);
    --text-font: var(--font-OpenSans);

    --text-bold: 600;
    --text-normal: 400;
    

    --color-default: #000;
    --color-accent: #E11B50;
    --color-light-gray: #F1F1F1;
    --color-gray: #E1E1E1;
    --color-dark-gray: #C0C0C0;
    --color-dark-black: #505050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}

a {
    text-decoration: none;
    color: var(--color-default)
}

ul, ol {
    list-style: none;
} 

em{
    font-weight: var(--text-bold);
}

html {
    font-size: var(--default-fz);
}

.container {
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

p, a, span, li, small, strong, button, input {
    font-family: var(--font-OpenSans);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-RobotoCondensed);
}

image {
    object-fit: cover;
    width: 100%;
}
