@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');
:root {
    --fz-size: 1;
    --default-fz: calc(16px * var(--fz-size));
    --font-letter-spacing: 0px;
    --font-line-height: 1;

    --font-OpenSans: 'Open Sans';
    --font-RobotoCondensed: 'Roboto Condensed';
    --font-serif: sans-serif;

    --headline-font: var(--font-OpenSans);
    --text-font: var(--font-OpenSans);

    --text-bold: 600;
    --text-normal: 400;
    

    --color-default: #000;
    --color-accent: #E11B50;
    --color-light-gray: #F1F1F1;
    --color-gray: #E1E1E1;
    --color-dark-gray: #C0C0C0;
    --color-dark-black: #505050;
    --color-light-white: #D9D9D9;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
}

a {
    text-decoration: none;
    color: var(--color-default)
}

ul, ol {
    list-style: none;
} 

em{
    font-weight: var(--text-bold);
}

html {
    font-size: var(--default-fz);
}

body {
    font-family: var(--font-OpenSans);
}

.container {
    max-width: 1315px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* p, a, span, li, small, strong, button, input {
    font-family: var(--font-OpenSans);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-RobotoCondensed);
} */

.image {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}


.btn-default {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    transition: background-color .3s ease, color .3s ease, opacity .3s ease;
}

.btn-default--arrow {
    width: 52px;
    height: 52px;
}

.btn-default--arrow:hover {
    opacity: .8;
}

.btn-default--disabled {
    background-color: var(--color-dark-gray);
}

.btn-default--outline-default {
    background-color: transparent;
    border: 1px solid var(--color-accent)
}

.btn-default--outline-gray {
    background-color: transparent;
    border: 1px solid var(--color-dark-gray);
}

.btn-default--gray {
    background-color: var(--color-dark-gray);
    color: var(--color-default)
}

.btn-default--gray:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
}


.hr {
    width: 100%;
    border: none;
    background-color: var(--color-dark-gray);
    margin-bottom: 95px;
    margin-top: 95px;
}


.headline {
    font-weight: var(--text-bold);
    margin-bottom: 20px;
}

.headline__link {
    display: flex;
    align-items: center;
}

.headline span {
    font-size: 1.4rem;
}

.headline__link > span {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 1.35rem;
}


.headline__link > a:first-child {
    width: 28px;
    height: 28px;
    display: block;
}

.headline__link > span + a {
    width: auto;
    height: auto;
}