@media only screen and (max-width: 1150px) {
    .header-main__nav-pages__nav {
        display: none;
    }

    .header__burger {
        display: flex;
    }

    .article__line {
        display: none;
    }

    .article__other-articles {
        display: none;
    }

    .article__content {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 970px) {
    .important-info__item h3 {
        min-width: 205px;
        gap: 20px;
    }

    .reference-book__social-links {
        grid-template-columns: repeat(4, minmax(max-content, auto));
    }

    .content-filter__content-videos {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    .about-directors__content {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-directors__item:nth-child(3n):after {
        content: "";
        width: 0;
    }

    .about-directors__item:nth-child(4n):after {
        content: "";
        width: calc(100% + 50px);
    }

    .content-filter__content-videos > .card-article {
        max-width: 100%;
    }

    .content-filter__content-other {
        grid-template-columns: repeat(2, minmax(auto, 270px));
    }

    .local-news-channel__content .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .goverment-docs__content .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .useful-sites__content {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .header-main__nav-fast {
        background: var(--color-accent);
        padding: 10px;
        border: none;
        overflow: hidden;
    }

    .header-main__nav-fast .header-main__content {
        padding: 0;
        border: none;
    }

    .header-main__nav-fast__nav {
        overflow-x: auto;
    }

    .header-main__nav-fast__nav::-webkit-scrollbar {
        display: none;
    } 

    .header-main__nav-fast__nav-link {
        color: var(--color-white)
    }

    .header-main__nav-fast__nav-link svg {
        fill: var(--color-white);
    }
    
    .header-main__nav-fast__nav-item:not(:last-child)::after {
        content: "";
        height: 20px;
        width: 1px;
        background-color: #fff;
        position: absolute;
        right: -20px;
    }

    .main-slider {
        margin-top: 30px;
    }

    .main-slider .slider__item .image {
        height: 420px;
    }

    .important-info__item > img {
        min-height: 360px;
    }

    .main-slider .slider__item > div {
        left: 120px;
    }

    .card-article {
        padding: 12px;
    }

    .headline {
        margin-bottom: 18px;
    }

    .headline__link > a > svg:first-child {
        width: 22px;
        height: 22px;
    }

    .headline__link > a > svg:last-child  {
        width: 9px;
        height: 12px;
    }

    .all-news-sliders__content > div {
        gap: 0px;
        padding: 0px;
    }

    .content-filter__combine {
        grid-template-columns: 290px 1fr;
    }

    .slider__control-container::after, .slider__control-container::before {
        width: 33%;
    }

    .reference-book__social, .reference-book__local {
        padding: 25px;
    }

    .about-us__content {
        flex-direction: column;
    }

    .about-us__img {
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .about-us__img img {
        height: 430px;
    }

    .history-us__info {
        column-gap: 20px;
        grid-template-columns: 1fr;
    }

    .history-us__content {
        grid-template-columns: 0 1fr;
        column-gap: 30px;
        padding: 0 20px;
        row-gap: 25px;
    }

    .history-us__ellipse {
        position: absolute;
        left: -43px;
        width: 30px;
        height: 30px;
    }

    .about-videos__list {
        grid-template-columns: 1fr;
    }

    .about-videos__item img:first-child {
        max-width: 100%;
    }

    .history-us__info:last-child::after {
        width: 3px;
        height: 30px;
        top: -25px;
        left: -30px;
    }

    .history-us__year {
        padding-left: 0;
        margin-bottom: 15px;
    }

    .place__info .image {
        max-width: 490px;
    }

    .club-find__list {
        grid-template-columns: 1fr;
    }
    
    .consult__list-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .form__control textarea {
        min-width: 100%;
    }

    .contacts-helper__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 760px){

    .about-us-in-media__list .card-article .image {
        height: 220px;
    }

    .footer-info-list__nav {
        display: none;
    }

    .about-directors__content {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about-directors__item:nth-child(3n):after {
        content: "";
        width: calc(100% + 50px);
    }

    .about-directors__item:nth-child(2n):after {
        content: "";
        width: 0;
    }


    .local-place__list {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    .contacts-helper__item .image {
        height: 350px;
    }

    .clubs__list {
        grid-template-columns: 1fr 1fr;
    }

    .consult__list-items {
        grid-template-columns: 1fr;
    }

    .article__social div:last-child svg {
        width: 40px;
        height: 40px;
    }

    .article__like button svg {
        width: 20px;
        height: 20px;
    }

    .reference-book__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .reference-book__local {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .reference-book__social-links {
        grid-template-columns: repeat(3, minmax(max-content, auto));
    }

    .reference-book__local-links {
        grid-template-columns: repeat(4, minmax(max-content, auto));
        row-gap: 20px;
    }

    .footer-info-list-list__content p {
        margin-bottom: 5px;
    }

    .footer-info-list-list__content div:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer-found-error {
        margin-right: 0;
    }

    .useful-sites {
        padding: 60px 0;
    }

    section:not(:last-child) {
        margin-bottom: 65px;
    }

    .hr {
        margin-bottom: 65px;
        margin-top: 65px;
    }

    .all-news-sliders__content > div {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .all-news-sliders__content::-webkit-scrollbar {
        display: none;
    } 

    .all-news-sliders__content {
        overflow-x: auto;
    }

    .important-info__item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .important-info__list {
        overflow-x: auto;
    }

    .important-info__list::-webkit-scrollbar {
        display: none;
    } 

    .content-filter__combine {
        grid-template-columns: 195px 1fr;
    }

    .goverment-docs__headline {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .useful-info__item > div {
        gap: 10px;
        text-align: center;
        width: 200px;
    }

    .content-filter__content-other {
        grid-template-columns: 1fr;
    }

    .content-filter__content-other .card-article .image {
        height: 230px;
    }

    .content-filter__content-videos {
        row-gap: 55px;
    }
    
    .important-info__item > img {
        min-height: 300px;
    }

    .goverment-docs__item {
        padding: 20px;
    }

    .reference-book__social-links {
        grid-template-columns: 1fr 1fr;
    }

    .reference-book__local-links {
        grid-template-columns: repeat(3, 1fr);
    }

    .card-article .image {
        height: 165px;
    }

    .card-article__badge {
        width: 65px;
        height: 35px;
        margin-left: 10px;
    }

    .article-news__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .article__line-actions {
        min-width: 30px;
    }
    
    .article__actions {
        margin-top: 30px;
    }
    
    .place__info .image {
        max-width: 100%;
    }

    .place__info {
        flex-direction: column;
        align-items: baseline;
    }
    
    .club-slider__content {
        gap: 30px;
    }
    
    .club-slider .image, .club-gallery .image {
        height: 280px;
    }
}

@media only screen and (max-width: 596px) {
    .main-slider .slider__item > div {
        left:30px;
    }

    .us-activities-other__content {
        grid-template-columns: 1fr 1fr;
    }

    .local-place__content {
        grid-template-columns: 1fr;
    }

    .local-place__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .local-place__filters-hash {
        display: flex;
        flex-wrap: wrap;
    }

    .local-place__filters-hash button {
        flex-grow: 1;
        min-width: 75px;
    }

    .main-slider .slider__item .image {
        height: 350px;
    }

    .btn-default {
        padding: 0 15px;
        height: 40px;
    }

    .article-topic__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .club-find__content {
        grid-template-columns: 1fr;
    }

    .club-find__list {
        grid-template-columns: 1fr 1fr;
    }

    .consult__content {
        grid-template-columns: 1fr;
    }

    .consult__list-items {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 525px) {

    :root {
        --fz-size: 0.9;
    }

    .contacts-about__contact svg {
        width: 45px;
        height: 45px;
    }

    .all-news-sliders__content > div {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .all-news-sliders__content-cards .card-article {
        max-width: 100%;
    }
    
    .content-filter__combine {
        grid-template-columns: repeat(2, 1fr);
    }

    .content-filter__filters {
        grid-row-start: 2;
        grid-column: 1 / -1;
    }

    .content-filter__content {
        grid-column: 1 / -1;
        grid-row-start: 3;
        border: none;
        margin-top: 15px;
    }

    .content-filter__content-videos > .card-article {
        padding: 0;
    }

    .content-filter__content-other .card-article {
        padding: 0;
        max-width: 100%;
    }

    .content-filter__content-videos {
        margin-top: 50px;
    }

    .content-filter__headline {
        display: none;
    }

    .local-news-channel__content .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }   

    .local-news-channel__content .card-article {
        max-width: 100%;
    }

    .card-article .image {
        height: 195px;
    }

    .important-info__list {
        grid-gap: 10px;
    }

    .important-info__item > img {
        min-height: 255px;
    }

    .useful-info__item > img {
        height: 255px;
    }

    .goverment-docs__content .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-us-in-media__list {
        grid-template-columns: 1fr;
    }

    .about-us-in-media .btn-default {
        margin: 50px auto 0 auto;
    }

    .place__main {
        align-items: baseline;
        flex-direction: column;
    }

    .place__main .image {
        width: 100%;
    }

    .contacts-helper__item h3 {
        position: static;
        left: unset;
        bottom: unset;
        transform: unset;
    }

    .contacts-helper__item {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts-about__about {
        flex-direction: column;
        align-items: baseline;
    }

    .contacts-about__about .image {
        width: 100%;
        height: 320px;
    }

}

@media only screen and (max-width: 490px) {
    .important-info__item h3 {
        min-width: 186px;
        gap: 10px;
    }

    .local-news-channel__headline {
        flex-direction: column;
        align-items: baseline;
        gap:30px;
    }

    .contacts-helper__list {
        grid-template-columns: 1fr;
    }
    
    .consult__list-items {
        grid-template-columns: 1fr;
    }

    input[type="text"] {
        width: 100%;
    }
    
    .club-slider__content {
        flex-direction: column-reverse;
    }
    
    .club-find__list {
        grid-template-columns: 1fr;
    }

    .article__actions {
        flex-direction: column;
        gap: 10px;
    }

    .article__published {
        justify-content: center;
    }

    .article-news__list {
        grid-template-columns: 1fr;
    }

    .article__like {
        display: none;
    }

    .article__actions > div {
        width: 100%;
    }

    .header-main__nav-pages__brand-link img, .footer-brand img{
        width: 250px;
    }

    .reference-book__services {
        grid-column: 1 / -1;
    }

    .reference-book__services a {
        margin-bottom: 20px;
        height: 70px;
    }

    .useful-info__content .slider__item {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .important-info__item {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .important-info__item > img {
        height: 200px;
    }

    .important-info__item h3 {
        bottom: 40px;
    }

    .useful-info__item > div {
        bottom: 40px;
    }

    .slider__control-container::after, .slider__control-container::before {
        width: 18%;
    }

    .useful-sites__content {
        grid-template-columns: 1fr;
    }
    
    .useful-sites__link {
        padding: 20px 0;
    }

    .card-info {
        padding: 0;
    }

    .header-main__actions-btns span {
        display: none;
    }

    .article-topic__list {
        grid-template-columns: 1fr;
    }

    .about-directors__content {
        grid-template-columns: 1fr;
    }
    
    .about-directors__item:nth-child(2n):after {
        content: "";
        width: calc(100% + 50px);
    }

    .about-directors__item:nth-child(n):after {
        content: "";
        width: 0;
    }

    .about-directors__ellipse {
        display: none;
    }
    
}

@media only screen and (max-width: 430px) {
    .clubs__list {
        grid-template-columns: 1fr;
    }

    .local-place__list {
        grid-template-columns: 1fr;
    }

    
    .us-activities-other__content {
        grid-template-columns: 1fr;
    }
}